# Ignore sensitive information
shif-prediction-chatbot-59fe29b269e9.json

# Node.js dependencies
node_modules/

# Python virtual environments
venv/
env/

# Python specific
*.py[cod]
__pycache__/
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.out
*.err

# IDE specific files
.vscode/
.idea/
*.swp

# Operating System files
.DS_Store
Thumbs.db

# Temporary files created by editors
*.sublime-project
*.sublime-workspace

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Others
*.bak
*.swp
*.temp

# Ignore secrets or configuration files
*.env
*.ini
*.config
*.json

# Ignore build directories
build/
dist/

# Ignore coverage reports
coverage/
*.cover
*.coverage
*.cov
*.gcov
*.h5

# Ignore data files
*.csv
*.tsv
*.dat

# Ignore backup files
*.bak
*.old

# Ignore system files
ehthumbs.db
desktop.ini
