body.chatbox {
    background-color: #f8f9fa;
}

header {
    background-color: #28a745;
    color: white;
    padding: 15px 0;
}

header img {
    max-width: 100px;
    margin-right: 20px;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.container {
    margin-top: 30px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    background-color: #28a745;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

df-messenger {
    --df-messenger-bot-message: #2a28a7; 
    --df-messenger-button-titlebar-color: #007bff;
    --df-messenger-chat-background-color: #ffffff; 
    --df-messenger-font-color: #000000; 
    --df-messenger-send-icon: #007bff; 
    --df-messenger-user-message: #34a853; 
    --df-messenger-button-titlebar-font-color: #ffffff;
    --df-messenger-width: 350px; 
    --df-messenger-height: 200px; 
}
