<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHIF Contributions</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="chatbox">
    <header>
        <img src="../static/images/logo.png" alt="Logo">
        <div class="container text-center">
            <h1 style="font-size: 24px;">SOCIAL HEALTH INSURANCE FUND CONTRIBUTION CHATBOT</h1>
            "Using technology to deliver information faster and more efficiently for better decisions with real-time insights."
        </div>
    </header>

    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <form id="contributionForm">
                    <div class="form-group">
                        <label for="amountPaid">How much paid in the last month:</label>
                        <input type="number" class="form-control" id="amountPaid" name="amountPaid" required>
                    </div>
                    <div class="form-group">
                        <label for="region">Region:</label>
                        <select class="form-control" id="region" name="region">
                            <option value="select">Select</option>
                            <option value="Mombasa">Mombasa</option>
                            <option value="Kwale">Kwale</option>
                            <option value="Kilifi">Kilifi</option>
                            <option value="Tana River">Tana River</option>
                            <option value="Lamu">Lamu</option>
                            <option value="Taita-Taveta">Taita-Taveta</option>
                            <option value="Garissa">Garissa</option>
                            <option value="Wajir">Wajir</option>
                            <option value="Mandera">Mandera</option>
                            <option value="Marsabit">Marsabit</option>
                            <option value="Isiolo">Isiolo</option>
                            <option value="Meru">Meru</option>
                            <option value="Tharaka-Nithi">Tharaka-Nithi</option>
                            <option value="Embu">Embu</option>
                            <option value="Kitui">Kitui</option>
                            <option value="Machakos">Machakos</option>
                            <option value="Makueni">Makueni</option>
                            <option value="Nyandarua">Nyandarua</option>
                            <option value="Nyeri">Nyeri</option>
                            <option value="Kirinyaga">Kirinyaga</option>
                            <option value="Murang'a">Murang'a</option>
                            <option value="Kiambu">Kiambu</option>
                            <option value="Turkana">Turkana</option>
                            <option value="West Pokot">West Pokot</option>
                            <option value="Samburu">Samburu</option>
                            <option value="Trans Nzoia">Trans Nzoia</option>
                            <option value="Uasin Gishu">Uasin Gishu</option>
                            <option value="Elgeyo-Marakwet">Elgeyo-Marakwet</option>
                            <option value="Nandi">Nandi</option>
                            <option value="Baringo">Baringo</option>
                            <option value="Laikipia">Laikipia</option>
                            <option value="Nakuru">Nakuru</option>
                            <option value="Narok">Narok</option>
                            <option value="Kajiado">Kajiado</option>
                            <option value="Kericho">Kericho</option>
                            <option value="Bomet">Bomet</option>
                            <option value="Kakamega">Kakamega</option>
                            <option value="Vihiga">Vihiga</option>
                            <option value="Bungoma">Bungoma</option>
                            <option value="Busia">Busia</option>
                            <option value="Siaya">Siaya</option>
                            <option value="Kisumu">Kisumu</option>
                            <option value="Homa Bay">Homa Bay</option>
                            <option value="Migori">Migori</option>
                            <option value="Kisii">Kisii</option>
                            <option value="Nyamira">Nyamira</option>
                            <option value="Nairobi">Nairobi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="occupation">Occupation:</label>
                        <select class="form-control" id="occupation" name="occupation">
                            <option value="Select">Select</option>
                            <option value="Managerial">Managerial</option>
                            <option value="Professional">Professional</option>
                            <option value="Technical">Technical</option>
                            <option value="Clerical">Clerical</option>
                            <option value="Service">Service</option>
                            <option value="Skilled Manual">Skilled Manual</option>
                            <option value="Semi-Skilled Manual">Semi-Skilled Manual</option>
                            <option value="Unskilled Manual">Unskilled Manual</option>
                            <option value="Agricultural">Agricultural</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Check Contribution Amount</button>
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/scripts.js"></script>

    <footer>
        <div class="text-center">
            <p style="font-size: 14px;">&copy; 2024  SHIF Contributions</p>
        </div>
    </footer>
</body>
</html>
