<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHIF Contributions</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="chatbox">
    <header>
        <img src="/static/images/logo.png" alt="Logo">
        <div class="container text-center">
            <h1 style="font-size: 24px;">SOCIAL HEALTH INSURANCE FUND CONTRIBUTION CHATBOT</h1>
            <h1 style="font-size: 24px;">"Using technology to deliver information faster and more efficiently."</h1>
        </div>
    </header>

    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <form id="contributionForm">
                    <div class="form-group">
                        <label for="amountPaid">How much paid in the last month:</label>
                        <input type="number" class="form-control" id="amountPaid" name="amountPaid" required>
                    </div>
                    <div class="form-group">
                        <label for="region">Region:</label>
                        <select class="form-control" id="region" name="region" required>
                            <option value="">Select</option>
                            <option value="Baringo">Baringo</option>
                            <option value="Bomet">Bomet</option>
                            <option value="Bungoma">Bungoma</option>
                            <option value="Busia">Busia</option>
                            <option value="Elgeyo-Marakwet">Elgeyo-Marakwet</option>
                            <option value="Embu">Embu</option>
                            <option value="Garissa">Garissa</option>
                            <option value="Homa Bay">Homa Bay</option>
                            <option value="Isiolo">Isiolo</option>
                            <option value="Kajiado">Kajiado</option>
                            <option value="Kakamega">Kakamega</option>
                            <option value="Kericho">Kericho</option>
                            <option value="Kiambu">Kiambu</option>
                            <option value="Kilifi">Kilifi</option>
                            <option value="Kirinyaga">Kirinyaga</option>
                            <option value="Kisii">Kisii</option>
                            <option value="Kisumu">Kisumu</option>
                            <option value="Kitui">Kitui</option>
                            <option value="Kwale">Kwale</option>
                            <option value="Laikipia">Laikipia</option>
                            <option value="Lamu">Lamu</option>
                            <option value="Machakos">Machakos</option>
                            <option value="Makueni">Makueni</option>
                            <option value="Mandera">Mandera</option>
                            <option value="Marsabit">Marsabit</option>
                            <option value="Meru">Meru</option>
                            <option value="Migori">Migori</option>
                            <option value="Mombasa">Mombasa</option>
                            <option value="Murang'a">Murang'a</option>
                            <option value="Nairobi">Nairobi</option>
                            <option value="Nakuru">Nakuru</option>
                            <option value="Nandi">Nandi</option>
                            <option value="Narok">Narok</option>
                            <option value="Nyamira">Nyamira</option>
                            <option value="Nyandarua">Nyandarua</option>
                            <option value="Nyeri">Nyeri</option>
                            <option value="Samburu">Samburu</option>
                            <option value="Siaya">Siaya</option>
                            <option value="Taita Taveta">Taita Taveta</option>
                            <option value="Tana River">Tana River</option>
                            <option value="Tharaka-Nithi">Tharaka-Nithi</option>
                            <option value="Trans Nzoia">Trans Nzoia</option>
                            <option value="Turkana">Turkana</option>
                            <option value="Uasin Gishu">Uasin Gishu</option>
                            <option value="Vihiga">Vihiga</option>
                            <option value="Wajir">Wajir</option>
                            <option value="West Pokot">West Pokot</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="occupation">Occupation:</label>
                        <select class="form-control" id="occupation" name="occupation" required>
                            <option value="">Select</option>
                            <option value="Unknown">Unknown</option>
                            <option value="agriculture - employee">Agriculture - Employee</option>
                            <option value="agriculture - self employed">Agriculture - Self Employed</option>
                            <option value="clerical">Clerical</option>
                            <option value="don't know">Don't Know</option>
                            <option value="household and domestic">Household and Domestic</option>
                            <option value="not working">Not Working</option>
                            <option value="professional/technical/managerial">Professional/Technical/Managerial</option>
                            <option value="sales">Sales</option>
                            <option value="services">Services</option>
                            <option value="skilled manual">Skilled Manual</option>
                            <option value="unskilled manual">Unskilled Manual</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Check Contribution Amount</button>
                </form>
                <div id="result" class="mt-4"></div>
            </div>
        </div>
    </div>

    <script src="/static/js/scripts.js"></script>

    <!-- chatbot -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="SHIF Chatbot"
      agent-id="shif-prediction-chatbot"
      language-code="en"
    ></df-messenger>

    <footer>
        <div class="text-center">
            <p style="font-size: 14px;">&copy; 2024 SHIF Contributions</p>
        </div>
    </footer>
</body>
</html>
